POSTGRES_URI=postgresql+psycopg2://postgres@localhost:5432/market_volume
ETHERSCAN_API_KEY=
ETHERSCAN_BASE_URL=https://api.bscscan.com/api
WEB3_PROVIDER_URL=https://bsc-dataseed3.ninicoin.io
EK_PLUGIN_ID=market-volume
